*{
	margin: 0;
	padding: 0;
}
section,article{
	width: 200px;
	height: 200px;
	margin: 50px;
	background: skyblue;
	border:2px solid red;
	padding: 10px;
}
section{
	box-sizing: content-box;
}

article{
	box-sizing: border-box;
}