section:nth-child(2){
	width: 100px;
	height: 100px;
	background: red;
}
section:nth-child(3)
{
	width: 150px;
	height: 150px;
	background: skyblue;
}
section:nth-of-type(3){
	width: 100px;
	height: 100px;
	background: pink;
}