*{
	padding: 0px;
	margin: 0px;
}
div{
	width: 100px;
	height: 100px;
	background: red;
	margin: 10px;
}

#div1{
	opacity: 1;
}

#div2{
	opacity: 0.5;
}

#div3{
	opacity: 0;
}

#div4{
	background: rgba(0,206,209,0.2)
}