html,body{
	background: linear-gradient(to right, #BBFFFF, #F5F5DC)
}


div{
	width:250px;
	height:200px;
	background-color:#FDF5E6 ;
	border:1px solid #000;
	border-radius: 10px;

}	


